{cover_enabled, false}. %% coverage analyses is slow
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
    {riakc, ".*", {hg, "http://bitbucket.org/basho/riak-erlang-client riakc", "tip"}},
    {protobuffs, ".*", {hg, "http://bitbucket.org/basho/protobuffs", "tip"}},
    {mochiweb, ".*", {hg, "http://bitbucket.org/basho/mochiweb", "tip"}},
    {bert, ".*", {git, "git://github.com/dreverri/bert.erl.git bert", "master"}},
    {ibrowse, ".*", {git, "git://github.com/dreverri/ibrowse.git", "master"}}
]}.
