{cover_enabled, false}. %% coverage analyses is slow
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
    {riakc, ".*", {hg, "http://bitbucket.org/basho/riak-erlang-client riakc", "RELEASE_1"}},
    {protobuffs, ".*", {hg, "http://bitbucket.org/basho/protobuffs", "RELEASE_4"}},
    {mochiweb, ".*", {hg, "http://bitbucket.org/basho/mochiweb", "tip"}}
]}.